# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
